[submodule "prm"]
	path = prm
	url = https://github.com/fabiofortkamp/prm
[submodule "custom/plugins/zsh-syntax-highlighting"]
	path = custom/plugins/zsh-syntax-highlighting
	url = https://github.com/fabiofortkamp/zsh-syntax-highlighting
[submodule "custom/plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/fabiofortkamp/zsh-autosuggestions
[submodule "custom/plugins/zsh-completions"]
	path = custom/plugins/zsh-completions
	url = https://github.com/fabiofortkamp/zsh-completions
[submodule "custom/plugins/zsh-vi-mode"]
	path = custom/plugins/zsh-vi-mode
	url = https://github.com/fabiofortkamp/zsh-vi-mode
